.main-text
  font-size: $main_text
.btn
  border: 2px solid $blue
  color: $blue
  background-color: transparent
  font-size: $social
  font-weight: bold
  outline: none
  box-sizing: border-box
  transition: background-color 0.4s
  height: 56px
  width: 261px
  &:hover
    cursor: pointer
    transition: background-color 0.3s
    color: #FFFFFF
    background-color: $blue
  &:focus
    border: 3px solid $blue
    background-color: #FFFFFF
    color: $blue
  &:active
    background-color: $blue
    color: #FFFFFF
.headers
  text-transform: uppercase
  font-size: $headers
  font-weight: bold
  &>span
    font-size: $middle_text
.links
  color: #000000
  outline: none
  &:hover
    color: $blue
    text-decoration: underline
  &:focus
    font-weight: bold
    color: $blue!important
    text-decoration: none
  &:active
    color: $blue
    text-decoration: underline
    font-weight: 500
.form__buttons
  &>:first-child
    margin-right: 64px
.briefing__links
  display: flex
  &>ul
    list-style-type: none
    padding-top: 22px
    width: 100%
    &:first-child
      margin-right: 84px
      margin-bottom: 61px
    &>li
      margin-bottom: 20px
    &>li>p
      color: $blue
    &>li>input
      width: 96.5%

textarea
  border: 1px solid #CBCBCB
  resize: none
  font-size: $main_text
  text-indent: 16px
  padding-top: 16px
  &:hover
    color: #6D6D6D
  &:focus
    outline: 2px solid #6D6D6D
    color: #6D6D6D
  &:active
    color: #6D6D6D
    outline: none
.block
  border-color: #B0B0B0 !important
  color: #B0B0B0 !important
  outline: none !important
  &:hover
    color: #B0B0B0!important
    background-color: transparent!important
    cursor: default
  &:active
    color: #B0B0B0
    outline: none
.notValid
  border-color: red !important
.error
  margin-top: 5px
  padding: 16px 0 16px 16px
  background-color: rgba(187, 0, 0, 0.13)
  color: #BB0000
  font-size: $main_text

.shadow
  position: absolute
  bottom: 5%
  z-index: 1000
  height: 362px
  width: 556px
  left: 40%
  background-color: white