.main-text
  font-size: $main_text
.btn
  padding: 16px 56.5px
  border: 2px solid $blue
  color: $blue
  background-color: transparent
  font-size: $social
  font-weight: bold
  outline: none
  box-sizing: border-box
  &:hover
    cursor: pointer
.headers
  text-transform: uppercase
  font-size: $headers
  font-weight: bold
  &>span
    font-size: $middle_text