@import "variables"
@import "common-styles"
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap')
*
  margin: 0
  padding: 0
  font-family: 'Montserrat', sans-serif
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
input[type='number']
  -moz-appearance: textfield

.container
  width: 1110px
  margin: 0 auto
a
  text-decoration: none
.header
  padding-top: 77px
  margin-bottom: 78px
  &__nav
    display: flex
    justify-content: space-between
    margin-bottom: 103px
    & section>ul
      list-style-type: none
    & .feedBack-contacts>ul
      list-style-type: none
      text-align: right
  &__offer
    display: inline-block
    &>h1:first-of-type
      font-size: 64px
      text-transform: uppercase
      height: 63px
    &>h1
      font-size: $headers
      text-transform: uppercase
    &>.main-text:first-of-type
      line-height: 22px
      padding-top: 29px
      padding-bottom: 38px
    &>.about-briefing
      margin-top: 12px
      color: $blue
      font-size: $social
      text-decoration: underline
      outline: none
      &:hover
        cursor: pointer
        color: #000000
        text-decoration: underline
      &:active
        color: #000000
        text-decoration: underline
      &:focus
        font-weight: bold
        color: $blue
        text-decoration: underline
.about-briefing__popUp
  float: right
  transition: left 1s, opacity 0.1s
  position: relative
  top: -60px
  opacity: 0
  font-size: $main_text
  border: 1px solid black
  box-sizing: border-box
  height: 356px
  background-color: #FFFFFF
  width: 556px
  &>p
    padding: 44px 52px 30px 52px
  &.popUpActive
    //left: 0
    opacity: 1
    transition: opacity 0.1s
  &>button
    border: none
    height: 26px
    background-color: transparent
    position: absolute
    top: 18px
    right: 17.5px
    &:focus
      outline: 3px solid $blue
    &>.closePopUp
      cursor: pointer

.banner
  position: relative
  margin-top: 77px
  padding: 102px 0
  background-image: url("../img/wave.jpg")
  background-repeat: no-repeat
  background-size: cover
  &__text
    border: 1px solid #000000
    background-color: #000000
    font-size: $main_text
    box-sizing: border-box
    outline: none
    color: #FFFFFF
    padding: 17.5px 15px
    width: 732px
.menu-icon
  position: relative
  width: 37px
  height: 24px
  top: 3px
  &:hover
    cursor: pointer
  &>ul
    &>.icon
      content: ''
      border: 1.5px solid black
      background-color: black
      position: absolute
      width: 33px
      &:nth-child(1)
        transition: transform 0.4s, top 0.4s
        top: 0
      &:nth-child(2)
        transition: transform 0.4s, top 0.4s
        top: 10px
      &:nth-child(3)
        top: 20px
        width: 20.12px
        transition: width 0.4s, opacity 0.2s
.closeIcon
  &:nth-child(1)
    transform: rotate(45deg)
    top: 10px!important
  &:nth-child(2)
    transform: rotate(-45deg)
    //
  &:nth-child(3)
    width: 0!important
    opacity: 0!important

.nav
  position: relative
  left: 0
  top: 2px
  opacity: 0
  transition: opacity 0.2s
  &>ul
    display: flex
    text-decoration: none
    &>li
      padding-right: 80px
      font-size: $social
      &:last-child
        padding: 0
      &>a
        color: black
.active
  opacity: 1



