@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.main-text {
  font-size: 18px;
}

.btn {
  border: 2px solid #0075ff;
  color: #0075ff;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  box-sizing: border-box;
  transition: background-color 0.4s;
  height: 56px;
  width: 261px;
}
.btn:hover {
  cursor: pointer;
  transition: background-color 0.3s;
  color: #FFFFFF;
  background-color: #0075ff;
}
.btn:focus {
  border: 3px solid #0075ff;
  background-color: #FFFFFF;
  color: #0075ff;
}
.btn:active {
  background-color: #0075ff;
  color: #FFFFFF;
}

.headers {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
}
.headers > span {
  font-size: 20px;
}

.links {
  color: #000000;
  outline: none;
}
.links:hover {
  color: #0075ff;
  text-decoration: underline;
}
.links:focus {
  font-weight: bold;
  color: #0075ff !important;
  text-decoration: none;
}
.links:active {
  color: #0075ff;
  text-decoration: underline;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.header {
  padding-top: 77px;
  margin-bottom: 78px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 103px;
}
.header__nav section > ul {
  list-style-type: none;
}
.header__nav .feedBack-contacts > ul {
  list-style-type: none;
  text-align: right;
}
.header__offer {
  display: inline-block;
}
.header__offer > h1:first-of-type {
  font-size: 64px;
  text-transform: uppercase;
  height: 63px;
}
.header__offer > h1 {
  font-size: 30px;
  text-transform: uppercase;
}
.header__offer > .main-text:first-of-type {
  line-height: 22px;
  padding-top: 29px;
  padding-bottom: 38px;
}
.header__offer > .about-briefing {
  margin-top: 12px;
  color: #0075ff;
  font-size: 16px;
  text-decoration: underline;
  outline: none;
}
.header__offer > .about-briefing:hover {
  cursor: pointer;
  color: #000000;
  text-decoration: underline;
}
.header__offer > .about-briefing:active {
  color: #000000;
  text-decoration: underline;
}
.header__offer > .about-briefing:focus {
  font-weight: bold;
  color: #0075ff;
  text-decoration: underline;
}

.about-briefing__popUp {
  float: right;
  transition: left 1s, opacity 0.1s;
  position: relative;
  top: -60px;
  opacity: 0;
  font-size: 18px;
  border: 1px solid black;
  box-sizing: border-box;
  height: 356px;
  background-color: #FFFFFF;
  z-index: 1000;
}
.about-briefing__popUp > p {
  padding: 44px 52px 30px 52px;
}
.about-briefing__popUp.popUpActive {
  opacity: 1;
  transition: opacity 0.1s;
}
.about-briefing__popUp > button {
  border: none;
  height: 26px;
  background-color: transparent;
  position: absolute;
  top: 18px;
  right: 17.5px;
}
.about-briefing__popUp > button:focus {
  outline: 3px solid #0075ff;
}
.about-briefing__popUp > button > .closePopUp {
  cursor: pointer;
}

.banner {
  position: relative;
  margin-top: 77px;
  padding: 102px 0;
  background-image: url("../img/wave.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner__text {
  border: 1px solid #000000;
  background-color: #000000;
  font-size: 18px;
  box-sizing: border-box;
  outline: none;
  color: #FFFFFF;
  padding: 17.5px 15px;
  width: 732px;
}

.menu-icon {
  position: relative;
  width: 37px;
  height: 24px;
}
.menu-icon:hover {
  cursor: pointer;
}
.menu-icon > ul > .icon {
  content: "";
  border: 1.5px solid black;
  background-color: black;
  position: absolute;
  width: 33px;
}
.menu-icon > ul > .icon:nth-child(1) {
  transition: transform 0.4s, top 0.4s;
  top: 0;
}
.menu-icon > ul > .icon:nth-child(2) {
  transition: transform 0.4s, top 0.4s;
  top: 10px;
}
.menu-icon > ul > .icon:nth-child(3) {
  top: 20px;
  width: 20.12px;
  transition: width 0.4s, opacity 0.2s;
}

.closeIcon:nth-child(1) {
  transform: rotate(45deg);
  top: 10px !important;
}
.closeIcon:nth-child(2) {
  transform: rotate(-45deg);
}
.closeIcon:nth-child(3) {
  width: 0 !important;
  opacity: 0 !important;
}

.nav {
  position: relative;
  left: 0;
  top: 2px;
  opacity: 0;
  transition: opacity 0.2s;
}
.nav > ul {
  display: flex;
  text-decoration: none;
}
.nav > ul > li {
  padding-right: 80px;
  font-size: 16px;
}
.nav > ul > li:last-child {
  padding: 0;
}
.nav > ul > li > a {
  color: black;
}

.active {
  opacity: 1;
}

.developmentStages {
  margin-bottom: 80px;
}
.developmentStages > h1 {
  padding-bottom: 45px;
}
.developmentStages > .stages {
  counter-reset: myCounter;
}
.developmentStages > .stages > li {
  list-style-type: none;
  padding-bottom: 40px;
  font-size: 18px;
}
.developmentStages > .stages > li > span {
  color: #0075ff;
}
.developmentStages > .stages > li > span:hover {
  cursor: pointer;
}
.developmentStages > .stages > li:before {
  counter-increment: myCounter;
  content: counter(myCounter);
  color: #FFFFFF;
  border: 1px solid #000000;
  padding: 4px 11px;
  background-color: #000000;
  margin-right: 18px;
  font-size: 20px;
  font-weight: bold;
}
.developmentStages > .stages > li:nth-child(1):before {
  padding: 5px 13px;
}
.developmentStages > .stages > li:nth-child(4):before {
  padding: 5px 10px;
}

.projects {
  margin-bottom: 80px;
}
.projects > .headers {
  padding-bottom: 45px;
}
.projects__content {
  display: grid;
  grid-template-columns: 361px 1fr;
  grid-gap: 15px;
  grid-template-rows: 362px;
}
.projects__content > div > img {
  border: 1px solid #CBCBCB;
  padding: 32px;
  background-color: #CBCBCB;
}
.projects__content div:nth-child(2) {
  grid-column: 2/2;
  grid-row: 1/3;
}
.projects__content div:nth-child(2) > img {
  background-color: #E5E5E5;
  border-color: #E5E5E5;
}
.projects__content div:nth-child(3) > img {
  width: 296px;
  height: 291px;
  background-color: #F1F1F1;
  border-color: #F1F1F1;
}
.projects__content div > img:nth-child(4) {
  background-color: #E5E5E5;
  border-color: #e5e5e5;
}
.projects__content div > img:nth-child(5) {
  background-color: #CBCBCB;
  border-color: #CBCBCB;
}

.price_container {
  display: flex;
  justify-content: space-between;
}

.price__content {
  display: flex;
  margin-top: 40px;
}
.price__content .project {
  font-size: 20px;
}
.price__content .project > p:last-child {
  padding-top: 17px;
  padding-bottom: 0;
  border: none;
}
.price__content .project__size {
  font-weight: bold;
  padding: 10px 13px;
  border: 1px solid #000000;
  background-color: #000000;
  color: #FFFFFF;
}
.price__content .project__work {
  padding-top: 20px;
  padding-bottom: 9px;
}
.price__content .project__price {
  font-size: 30px;
  font-weight: bold;
  border-bottom: 2px solid black;
  padding-bottom: 120px;
}
.price__content .project__more {
  color: #0075ff;
  margin-top: 23px;
  margin-bottom: 20px;
}
.price__content .project__more:hover {
  cursor: pointer;
  text-shadow: 1px 0 #0075ff;
}
.price__content .project__more:active {
  text-shadow: 1px 0 #0075ff;
}
.price__content .project__more:focus {
  text-shadow: 1px 0 #0075ff;
}

.briefing-banner__text {
  width: 955px;
}

.briefing {
  margin-top: 80px;
}

.contact {
  padding-top: 40px;
  padding-bottom: 80px;
}

.briefing__header {
  display: flex;
  justify-content: space-between;
}
.briefing__header > h1 {
  color: #0075ff;
  font-size: 20px;
}
.briefing__header > span {
  font-size: 20px;
  font-weight: bold;
}
.briefing__header > span:first-letter {
  font-size: 30px;
  color: #0075ff;
  font-weight: bold;
}

.form__container {
  display: flex;
  flex-flow: column;
}
.form__container label {
  padding-bottom: 10px;
  padding-top: 30px;
  font-size: 18px;
}
.form__container label:first-child {
  padding-top: 20px;
}
.form__container input {
  padding: 16px 0 16px 16px;
  border: 1px solid #CBCBCB;
  font-size: 18px;
}
.form__container input:hover {
  color: #6D6D6D;
}
.form__container input:focus {
  outline: 2px solid #6D6D6D;
  color: #6D6D6D;
}
.form__container input:active {
  color: #6D6D6D;
  outline: none;
}
.form__container .btn {
  margin-top: 40px;
  width: 260px;
}

.footer {
  position: relative;
  background-color: #000000;
  height: 312px;
  overflow: hidden;
}
.footer > .container > .headers {
  color: #FFFFFF;
  padding-top: 80px;
  padding-bottom: 40px;
}
.footer > .container > ul > li > a {
  color: #FFFFFF;
  list-style-type: none;
}

#scrollUp {
  position: relative;
  bottom: 76px;
  left: 1021px;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
