@media (max-width: 1024px)
  .container
    width: 1024px - 38px
    overflow: hidden
  .header__content
    height: 440px
  .header
    &>.banner
      margin-top: 100px
      &>.container>.banner__text:first-child
        text-align: center
        width: 100%
  .projects__header
    display: flex
    justify-content: space-between
  #scrollUp
    left: 867px!important

@media (min-width: 768px)

